body {
    font-family: Roboto;
    font-size: 12px;
    background-color: var(--header-background-color);
    min-height: 100vh;
}

.general-box {
    background-color: white;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 320px) {
    width: 320px;
    }

    @media screen and (min-width: 768px) {
    width: 768px;
    }
    @media screen and (min-width: 1280px) {
    width: 1280px;
    }
}