:root {
  //color header-homepage
  --header-background-color: rgba(0, 0, 0, 0.56);

  // Світла тема тексту
  --light-txt-color: #ffffff;

  // Темна тема тексту
  --primarily-txt-color: #000000;
  --secondary-txt-color: #ff6b08;
  --footer-txt-color: #545454;

  // Світла тема фону
  --primarily-light-background: #e5e5e5;
  --footer-ligth-backround: #f7f7f7;

  // Темна тема кнопки
  --button-vote-background: #ff6b01;

  // Підкреслення для Home, My library і невдалого вводу в input
  --underline-failed: #ff001b;
}
