:root {
    // Світла тема тексту
    --light-txt-color: #ffffff;

    // Темна тема тексту
    --primarily-txt-color: #000000;
    --secondary-txt-color: #FF6B08;
    --footer-txt-color: #545454;

    // Світла тема фону
    --primarily-light-background: #E5E5E5;
    --footer-ligth-backround: #F7F7F7;

    // Темна тема кнопки
    --button-vote-background: #FF6B01;

    // Підкреслення для Home, My library і невдалого вводу в input
    --underline-failed: #FF001B;
}