.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: scroll;
}
.modalfilm {
  position: absolute;

  top: 20px;
  bottom: 38px;
  left: 50%;
  transform: translate(-50%);
  min-width: 280px;
  min-height: 940px;
  background: #ffffff;
  // background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: none;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.modalfoto-img {
  // padding-top: 48px;
  // display: block;
  max-width: 100%;
  height: auto;
}
.movie-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  // margin: 20px;
  color: #000000;
}

.info-list {
  list-style: none;
}
.name-property {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  color: #8c8c8c;
}
.about-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  // display: flex;
  // align-items: center;
  text-transform: uppercase;

  color: #000000;
  margin-top: 20px;
  margin-bottom: 8px;
}
.about-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #000000;
}
.btn {
  display: inline-block;
  width: 110px;
  height: 44px;
  background-color: #ffffff;
  // border-color: 10px black;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 20px;
  // margin-bottom: 20px;
  text-transform: uppercase;
}
.btn:last-child {
  margin-left: 20px;
}
.btn-l {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.btn:focus,
.btn:hover {
  border: none;
  background-color: #ff6b01;
  color: #ffffff;
}
