* {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
