.gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    row-gap: 32px;
    column-gap: 16px;
  }
}
