.footer-lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,.8);
}
.footer-lightbox-window {
    background-color: #ffffff;
    position: absolute;
    bottom: 50%;
    right: 50%;
    border-radius: 4px;
    padding: 15px;
    padding-top: 24px;
    padding-bottom: 30px;
    overflow: auto;
    width: 275px;
    height: 100vh;
    z-index: 22;
  
    transform: translate(50%, 50%);
  
    @media screen and (min-width: 768px) {
      width: 760px;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    @media screen and (min-width: 1024px) {
      width: 879px;
      height: 680px;
    }
  }
  
  .footer-lightbox-close-btn {
    position: absolute;
    top: 17px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    outline: none;
  
    fill: black;
    transition: all 500ms ease;
  
    &:hover {
      fill: #FF6B08;
      transform: scale(0.8);
    }
  }
  
  //dark theme styles
  
  .footer-lightbox-window.dark {
    background-color: #292c32;
  
    .footer-lightbox-close-btn {
      fill: #F7F7F7;
      transition: all 500ms ease;
  
      &:hover {
        fill:  #FF6B08;
        transform: scale(0.8);
      }
    }
  
    .team-list-item {
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 1px 3px rgba(255, 251, 251, 0.12), 0px 1px 1px rgba(248, 243, 243, 0.14),
        0px 2px 1px rgba(243, 239, 239, 0.2);
  
      &:hover {
        transform: scale(1.1);
  
        box-shadow: 0.3em 0.3em 1em  #FF6B08;
      }
    }
  
    .team-list-content-title {
      color: #F7F7F7;
    }
  
    .team-list-content-text {
      color:  #FF6B08;
    }
  }
  
  /* ---- Team ------ */
  
  .team-title {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  
    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }
  
  .team-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      grid-template: repeat(3, 1fr) / repeat(3, 190px);
    }
  }
  .img-team{
    width: 245px;
    height: 245px;
    object-fit: cover;
    @media screen and (min-width: 768px) {
      width: 190px;
      height: 190px;
    }
  }
  .img-team-f{
    width: 245px;
    height: 245px;
    object-fit: cover ;
    @media screen and (min-width: 768px) {
      width: 190px;
      height: 190px;
    }
  }
  .team-list-item {
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  
    &:hover {
      transform: scale(1.1);
  
      box-shadow: 0.3em 0.3em 1em  #FF6B08;
    }
  
  }
  
  .team-list-content {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-list-content-title {
    margin-bottom: 5px;
  
    font-size: 14px;
    font-weight: 500;
    line-height: 1.19;
  }
  
  .team-list-content-text {
    color: #545454;
  
    font-size: 14px;
    line-height: 1.19;
  }
  
  .team__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:  #FF6B08;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        background-color:#D41443;
      }
  }
  .team__icon{
    width: 18px;
    height: 18px;
  fill: currentColor;
  }