.gallery-item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (max-width: 500px) {
    max-width: 280px;
  }

  @media screen and (min-width: 500px) {
    width: 350px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }

  &__image-wrap {
    max-width: 100%;
    height: 402px;
    border-radius: 5px;
    overflow: hidden;
    transition: scale 300ms cubic-bezier(0.25, 0.75, 0.5, 1.25),
      box-shadow 100ms cubic-bezier(0.25, 0.75, 0.5, 1.25);

    &:hover {
      transform: scale(1.01);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px 0px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px 0px;
    }

    @media screen and (min-width: 768px) {
      height: 455px;
    }

    @media screen and (min-width: 1280px) {
      height: 574px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 402px;
    border-radius: 5px;
    background-color: rgb(243, 237, 226);
    cursor: pointer;
    transition: scale 300ms cubic-bezier(0.25, 0.75, 0.5, 1.25),
      box-shadow 100ms cubic-bezier(0.25, 0.75, 0.5, 1.25);

    &:hover {
      transform: scale(1.01);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px 0px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px 0px;
    }

    @media screen and (min-width: 768px) {
      height: 455px;
    }

    @media screen and (min-width: 1280px) {
      height: 574px;
    }
  }

  &__placeholder-image {
    display: block;
    width: 100px;
    height: 100px;
    fill: var(--secondary-txt-color);
    pointer-events: none;

    @media screen and (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-top: 10px;
    color: #000000;

    @media screen and (min-width: 768px) {
      line-height: 1.33;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: var(--secondary-txt-color);

    @media screen and (min-width: 768px) {
      line-height: 1.33;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
