@import './base/mixins';
@import './base/common';
@import './base/base';
@import './base/reset';
@import './base/modalfilm';
@import './base/colors';
@import './utils/mixins';
@import './utils/breakpoints';
@import './components/header-homepage';
@import './components/footer';
@import './components/section';
@import './components/container';
@import './components/gallery';
@import './components/modal-students';
@import './components/movieCard';
@import './components/library-header';
@import './components/load-more-btn';
