<header class="header-homepage">
  <div class="container header-homepage__container">
    <nav class="header-homepage__nav">
      <a class="logo link" href="./index.html">
        <img src="./images/logo/logo-film.png" alt="" />
        <span class="logo-text">Filmoteka</span>
      </a>

      <ul class="nav-list">
        <li class="nav-list_item">
          <a
            class="nav-list__link link nav-list__link--current"
            href="./index.html"
            >HOME</a
          >
        </li>
        <li class="nav-list_item">
          <a class="nav-list__link link" href="./library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <form class="form-header" action="">
      <input
        class="form-header_input"
        type="search"
        name="query"
        placeholder="Movie search"
      />
      <button type="button" class="button-search">
        <img src="./images/btn-search/search 2.png" alt="" />
      </button>
    </form>
    <p class="search-alert is-hidden">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</header>
