 <header class="header">
      <div class="container">
        <div class="header-top">
          <a href="./index.html" class="logo-link--mobile">
          <div class="logo--mobile">
            <svg width="24" height="24">
            <use class="film-icon" href="./svg/film-icon.svg#film-icon"></use>
          </svg>
        </div>
        </a>
        <a href="./index.html" class="logo-link">
        <div class="logo">
          <svg width="24" height="24">
            <use class="film-icon" href="./svg/film-icon.svg#film-icon"></use>
          </svg>
        <p class="name">Filmoteka</p>
</div>
</a>
          <ul class="nav">
            <li class="nav-el"><a href="./index.html" class="page-link">home</a></li>
            <li class="nav-el"><a href="" class="page-link current">my library</a></li>
          </nav>
        </div>
        <ul class="library-buttons">
          <li class="buttons-list-el"><button class="library-button js-watched-list" type="button">
            watched
          </button></li>
          <li class="buttons-list-el"><button class="library-button js-queue-list active" type="button">
            queue
          </button></li>
        </ul>
      </div>
    </header>