<div class="footer-lightbox js-footer-light-box">

    <div class="footer-lightbox-window js-footer-lightbox-window light">
        <button class="footer-lightbox-close-btn">
            <svg class="footer-lightbox-close-btn-icon" width="26px" height="26px">
                <use href="./images/modal-students/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="team-title">Our Team</h2>
        <ul class="team-list js-team-list">
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/1.jpg" class="img-team-f" alt="Yana Karpliuk">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Yana Karpliuk </h3>
                    <p class="team-list-content-text" lang="en">Team Lead</p>
                    <a href="https://github.com/YanaKarpliuk" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/2.jpg" class="img-team-f" alt=" Yevhen Zarozhevskyi">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Yevhen Zarozhevskyi</h3>
                    <p class="team-list-content-text" lang="en">Scrum master</p>
                    <a href="https://github.com/zarozhenya" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/3.jpg"class="img-team-f" alt="Aleksandr Vorsakov ">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Aleksandr Vorsakov</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/Aleksandr117Vorsakov" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/4.jpg" class="img-team-f" alt="Oleksandr Shendrykv ">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Oleksandr Shendryk</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/superbowl-alex" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/5.jpg" class="img-team-f" alt="Danyil Repenko">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Danyil Repenko</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/Danyil-Repenko" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/6.jpg" class="img-team-f" alt="Nesterenko-Artem">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Nesterenko Artem</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/Nesterenko-Artem" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/7.jpg" class="img-team-f" alt="Alona Liubchenko">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Alona Liubchenko</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/Alona-Liubchenko" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/8.jpg" class="img-team-f" alt="Denis Voronko">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Denis Voronko</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/DenisVoron" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/9.jpg" class="img-team-f" alt="Yevgen Maryshchyn">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Yevgen Maryshchyn</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/Maryshchyn" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/10.jpg" class="img-team-f" alt="Alexandr Rembeza">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Alexandr Rembeza</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/11.jpg" class="img-team-f" alt="Sergey Plivak">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Sergey Plivak</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/Plivak1" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-list-item">
                <div class="img-team">
                    <img src="./images/modal-students/12.jpg" class="img-team-f" alt="Serhiii Zhyhanov">
                </div>
                <div class="team-list-content">
                    <h3 class="team-list-content-title">Serhiii Zhyhanov</h3>
                    <p class="team-list-content-text" lang="en">Front-end developer</p>
                    <a href="https://github.com/serhii1976" target="_blank" rel="noopener noreferrer"
                        class="team__link">
                        <svg class="team__icon icon-github">
                            <use href="./images/modal-students/sprite.svg#icon-github"  width="18px" height="18px"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div> 