<!--modalfilm-->
<div class="backdrop container">
  <div class="modalfilm">
    <button type="button" class="button-close">
      <svg class="modal__icon" width="18" height="18">
        <use href="./icons/symbol-defs.svg#icon-close-1"></use>
      </svg>
    </button>
    <div class="wraper">
      <img class="modalfoto-img" src="./icons/modalfoto.jpg" alt="film" />
      <div class="about">
        <h1 class="movie-title">A FISTFUL OF LEAD</h1>
        <div class="info">
          <ul class="info-list">
            <li class="info-list-item">
              <p class="name-property">Vote / Votes</p>
              <p class="property">7.3/1260</p>
            </li>
            <li class="info-list-item">
              <p class="name-property">Popularity</p>
              <p class="property">100.2</p>
            </li>
            <li class="info-list-item">
              <p class="name-property">Original Title</p>
              <p class="property">Popularity</p>
            </li>
            <li class="info-list-item">
              <p class="name-property">Genre</p>
              <p class="property">Western</p>
            </li>
          </ul>
        </div>
        <h2 class="about-title">About</h2>
        <p class="about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="btn-l">
          <button type="button" class="btn">add to Watched</button>
          <button type="button" class="btn">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
