body.show-modal .students-backdrop{
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal{
  transform:scale(1);
}
.students-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal {
    background-color: #ffffff;
    position: absolute;
    bottom: 50%;
    right: 50%;
    border-radius: 4px;
    padding: 15px;
    padding-top: 24px;
    padding-bottom: 30px;
    overflow: auto;
    width: 275px;
    height: 100vh;
    z-index: 22;
  
    transform: translate(50%, 50%);
  
    @media screen and (min-width: 768px) {
      width: 760px;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    @media screen and (min-width: 1024px) {
      width: 879px;
      height: 680px;
    }
  }
.button-close {
    position: absolute;
    top: 17px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
     background-color: transparent;
         fill: black;
    transition: all 500ms ease;
      
    &:hover {
      fill: #FF6B08;
      transform: scale(0.8);
        }
}
.team-title {
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
}
.team-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      grid-template: repeat(3, 1fr) / repeat(3, 190px);
    }
}
.team-item {
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    &:hover {
      transform: scale(1.01);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px 0px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px 0px;
    }
  
}
.team-img{
    width: 245px;
    height: 245px;
    object-fit: cover;
    @media screen and (min-width: 768px) {
      width: 190px;
      height: 190px;
    }
}
.team-img-f{
    width: 245px;
    height: 245px;
    object-fit: cover ;
    @media screen and (min-width: 768px) {
      width: 190px;
      height: 190px;
    }
}
.team-content {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-content-title{
    margin-bottom: 5px;
  
    font-size: 14px;
    font-weight: 500;
    line-height: 1.19;
}
.team-content-text {
    color: #545454;
  
    font-size: 14px;
    line-height: 1.19;
}
.team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon{
    width: 18px;
    height: 18px;
    &:hover {
      transform: scale(1.1);
    }
  }


             